.dashboard{
    width:100%;
}

.welcome-box{
    background:white;
    border-radius:15px;
    padding:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.welcome-box h2{
    font-weight:700;
    margin-bottom:8px;
}

.welcome-box p{
    margin:0;
    color:#6c757d;
}

.dashboard-card{
    background:white;
    border-radius:15px;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-card h6{
    color:gray;
}

.dashboard-card h2{
    font-weight:700;
}

.dashboard-card i{
    font-size:40px;
    color:#0d6efd;
}

.activity-box{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.profile-box{
    background:white;
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.profile-box img{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-bottom:20px;
}

.profile-box p{
    color:gray;
}

@media(max-width:768px){

.welcome-box{
    flex-direction:column;
    gap:20px;
    align-items:flex-start;
}

}