.all-category{

    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.category-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;

}

.category-header h2{

    font-weight:700;
    margin:0;

}

.search-box{

    width:280px;

}

.table{

    margin-bottom:0;

}

.table th{

    text-align:center;
    vertical-align:middle;

}

.table td{

    text-align:center;
    vertical-align:middle;

}

.modal-footer .action-btn{
    width:30px;
    height:35px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

@media(max-width:768px){

.category-header{

    flex-direction:column;
    gap:15px;
    align-items:stretch;

}

.search-box{

    width:100%;

}

}